<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/webgazer.js" defer></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link href="/css/heatmap.css" rel="stylesheet">
    <title>Heatmap</title>
  </head>
  <body>
    <!-- <div class="container">
        <button class="btn btn-primary">Something</button>
    </div> -->
    <canvas id="canvas" width="1000" height="700" z-index="100"></canvas>
    <img id="img">
    <script src="/js/simpleheat.js" defer></script>
    <script src="/js/heatmap.js" defer></script>
  </body>
</html>
