<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/webgazer.js" defer></script>
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link href="/css/heatmap.css" rel="stylesheet" />
    <title>Heatmap</title>
  </head>
  <body>
    <div class="container">
      <header
        class="d-flex flex-wrap justify-content-center py-3 border-bottom"
      >
        <a
          href="/"
          class="
            navbar-brand
            d-flex
            align-items-center
            mb-3 mb-md-0
            me-md-auto
            text-dark text-decoration-none
          "
        >
          <span>
            <img
              class="mx-auto mb-4"
              src="https://cem.phoenixeffect.me/psycopy/images/logo.png"
              alt=""
              width="50px"
            />
          </span>
          <span class="fs-4">Gaze Tracker</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="/calibration" class="nav-link">Calibration</a>
          </li>
          <li class="nav-item">
            <a href="/heatmap" class="nav-link active" aria-current="page"
              >Heatmap Generator</a
            >
          </li>
        </ul>
      </header>
    </div>
    <main>
      
      <canvas id="plotting_canvas" style="position:fixed; display: none;"></canvas>
      <div class="container" id="image-container" z-index="-1">
        <div class="row">
          <div class="col">
            <img class="img-item" id="img-1" />
          </div>
          <div class="col">
            <img class="img-item" id="img-2" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto" id="controls" z-index="100">
        <div class="px-4 py-4 my-4 text-center">
          <div
            class="d-grid d-sm-flex justify-content-sm-center"
            id="controls"
          >
            <div
              class="btn-group"
              role="group"
            >
              <button
                class="btn btn-lg btn-outline-success px-4 gap-3"
                id="start_stop"
                value="0"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Click Here to Start Recording Gaze"
              >
                Start Tracking
              </button>
              <button
                class="btn btn-lg btn-outline-info px-4 gap-3"
                id="showhm"
                value="0"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                title="Click to Show Heatmap"
                disabled
              >
                Show Heatmap
              </button>
              
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/simpleheat.js" defer></script>
    <script src="/js/heatmap.js" defer></script>
  </body>
</html>
