body {
  margin: 0;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.webgazerVideoContainer{
    top: 35% !important; 
    right: 35% !important;
}

#button_container button {
  background-image: url("https://cdn.glitch.com/78fb9481-4d3c-4846-822d-add50b610153%2Fstar.png?v=1589882100787");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 51px;
  width: 67px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#button_container {
  display: none;
}

#start {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    
    color: red;
    font-size: 20px;
    font-weight: bold;
  }